body{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
  
}

.First{
  background-color: green;
  color: red;
  text-align: center;
  font-size: 3.5rem;
  padding: 3rem;
}
.second{
  background-color: brown;
  color: white;
  text-align: center;
  font-size: 3.5rem;
  padding: 3rem;

}
.Half{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 margin:50px 10px ;
 margin-left: 20px;
  margin-right: 20px;

}


.Box{
  position: relative;
  background-color: rgb(124, 76, 170);
  width: 20rem;
  height: 23rem;
  margin-left: 2rem;
  margin-right: 2rem;

}

.top{
  background-color: rgb(29, 37, 37);
  text-align: center;
  color: aliceblue;
  font-size: larger;
  padding: 2rem;
}
.middle{
  background-color: rgb(71, 94, 19);
  text-align: center;
  padding: 2rem;
  font-size: medium;

}
.last{
  
  text-align: center;
  padding: 2rem;
  font-size: larger;
}
.box2{
  background-color: rgb(80, 60, 99);
  height: 5rem;
}

